{% extends 'layouts/intranet.html'%}
{% load static %}

{% block title%} Logs {% endblock title%}

{% block content %}

    {% include 'common/breadcrumb.html' with title="Logs" %}
    
    <div class="card border-0 shadow">
        <div class="card-header">
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <form method="get" class="navbar-search form-inline">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" id="search" name="search" placeholder="Buscar por nro.Documento" aria-describedby="button-addon2">
                            <button class="btn btn-outline-primary" type="submit" id="button-addon2">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded" aria-hidden="true">
                    <thead class="thead-light">
                        <tr>
                            <th id="col" class="border-0 rounded-start">...</th>
                            <th id="col" class="border-0">Usuario</th>
                            <th id="col" class="border-0">Rol</th>
                            <th id="col" class="border-0">Fecha y Hora</th>
                            <th id="col" class="border-0">Método HTTP</th>
                            <th id="col" class="border-0">Endpoint</th>
                            <th id="col" class="border-0">IP Remota</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in logs %}
                            <tr>
                                <td> 
                                    <a href="{% url 'seguridad:logsForm' id=item.id %}" class="text-info fw-bold">
                                        <i class="fas fa-edit" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>
                                    {{ item.usuario.id }} | {{ item.usuario.nombres }}
                                </td>
                                <td>
                                    {{ item.usuario.rol.nombre }}
                                </td>
                                <td>
                                    {{ item.fecha|date:"d/m/Y" }} {{ item.hora }}
                                </td>
                                <td>
                                    {{ item.accion }}
                                </td>
                                <td>
                                    {{ item.endpoint }}
                                </td>
                                <td>
                                    {{ item.ip_remota }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}