{% extends 'layouts/intranet.html' %}
{% load static %}

{% block title%} Usuarios {% endblock title%}

{% block content %}

  {% include 'common/breadcrumb.html' with icon="fa-solid fa-pencil" title=title routes=routes %}

  <div class="row">
    <div class="col-12 mb-4">
      <div class="card border-0 shadow components-section">
        <form method="post">
          {% csrf_token %} 
          <div class="card-body">
            <div class="row">
              <div class="col">
                {% include "form/input.html" with type="number" label="Nro.Documento" input=form.id %}
              </div>
              <div class="col">
                {% include "form/select.html" with label="Tipo de documento" input=form.tipo_documento_id %}
              </div>
              <div class="col">
                {% include "form/select.html" with label="Rol" input=form.rol_id %}
              </div>
              <div class="col">
                {% include "form/input.html" with type="number" label="Nivel" input=form.nivel %}
              </div>
            </div>

            <div class="row">
              <div class="col">
                {% include "form/input.html" with type="text" label="Nombres" input=form.nombres %}
              </div>
              <div class="col">
                {% include "form/input.html" with type="text" label="Apellido Paterno" input=form.apellidoPaterno %}
              </div>
              <div class="col">
                {% include "form/input.html" with type="text" label="Apellido Materno" input=form.apellidoMaterno %}
              </div>
            </div>

            <div class="row">
              <div class="col">
                {% include "form/input.html" with type="text" label="Correo electrónico" input=form.correo %}
              </div>
              
              {% if form.password %}
                <div class="col">
                  {% include "form/input.html" with type="password" label="Contraseña" input=form.password %}
                </div>
              {% endif %}

              {% if form.password_confirm %}
                <div class="col">
                  {% include "form/input.html" with type="password" label="Confirmar Contraseña" input=form.password_confirm %}
                </div>
              {% endif %}
            </div>

            <div class="row">
              <div class="col">
                {% include "form/input.html" with type="text" label="Celular" input=form.celular %}
              </div>
            </div>
            
            <div class="row">
              <div class="col">
                {% include "form/input.html" with type="date" label="Fecha de contratación" input=form.fecha_contratacion %}
              </div>
              <div class="col">
                {% include "form/select.html" with label="Proyecto" input=form.proyecto_id %}
              </div>
            </div>

            {% include "form/input.html" with type="text" label="Dirección" input=form.direccion %}
          </div>
          <div class="card-footer text-end">
            <button type="submit" class="btn btn-primary">
                <i class="fa-solid fa-pencil" aria-hidden="true"></i>
                Guardar
            </button>
        </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
