{% extends 'layouts/intranet.html'%}
{% load static %}


{% block title%} Proyectos {% endblock title%}

{% block content %}

    {% include 'common/breadcrumb.html' with title="Proyectos" %}
    
    <div class="card border-0 shadow">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <div class="dropdown">
                        <a class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" href="{% url 'proyectos:proyectosCreate' %}">
                            <i class="fas fa-plus fa-xs me-3" aria-hidden="true"></i> Nuevo
                        </a>
                    </div>
                </div>
                <div class="col">
                    <form method="get" class="navbar-search form-inline">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" id="search" name="search" placeholder="Buscar por nombre" aria-describedby="button-addon2">
                            <button class="btn btn-outline-primary" type="submit" id="button-addon2">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded" aria-hidden="true">
                    <thead class="thead-light">
                        <tr>
                            <th id="col" class="border-0 rounded-start">...</th>
                            <th id="col" class="border-0">Documentos</th>
                            <th id="col" class="border-0">Actividades</th>
                            <th id="col" class="border-0">Nombre</th>
                            <th id="col" class="border-0">Fecha de Creación</th>
                            <th id="col" class="border-0">Zona</th>
                            <th id="col" class="border-0">Etapa</th>
                            <th id="col" class="border-0">Fecha de Inicio</th>
                            <th id="col" class="border-0">Fecha de Fin</th>
                            <th id="col" class="border-0">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in proyectos %}
                            <tr>
                                <td> 
                                    <a href="{% url 'proyectos:proyectosUpdate' id=item.id %}" class="text-info fw-bold">
                                        <i class="fas fa-edit" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td class="text-center"> 
                                    <a href="{% url 'proyectos:archivosIndex' proyecto=item.nombre proyecto_id=item.id %}" class="text-info fw-bold">
                                        <i class="fas fa-file" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td class="text-center"> 
                                    <a href="{% url 'proyectos:actividadesIndex' proyecto=item.nombre proyecto_id=item.id %}" class="text-info fw-bold">
                                        <i class="fa-solid fa-calendar-days" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>
                                    {{ item.nombre }} </td>
                                <td>
                                    {{ item.fecha_creacion|date:"d/m/Y" }}
                                </td>
                                <td>
                                    {{ item.zona.nombre }}
                                </td>
                                <td>
                                    {{ item.etapa.nombre }}
                                </td>
                                <td>
                                    {{ item.fecha_inicio|date:"d/m/Y"  }}
                                </td>
                                <td>
                                    {{ item.fecha_fin|date:"d/m/Y" }}   
                                </td>
                                <td>
                                    {{ item.estado.nombre }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% if is_paginated %}
        {% include 'common/pagination.html' %}
    {% endif %}

{% endblock content %}