{% load i18n static %}
<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
  <div class="sidebar-inner px-4 pt-3">
    <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
      <div class="d-flex align-items-center">
        <div class="avatar-lg me-4">

          <a href="{% url 'administracion:index' %}" class="mb-2">
            <img class="card-img-top rounded-circle border-white" src="{% static 'img/logo.png' %}" alt="Foto Default">
          </a>
               
        </div>
        <div class="d-block">
          <h2 class="h5 mb-3">{{ apellidos_nombres }}</h2>
          <a  href="{% url 'autenticacion:logout' %}" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
            <i class="fa-solid fa-right-from-bracket me-2" aria-hidden="true"></i>
            Cerrar Sesión
          </a>
        </div>
      </div>
      <div class="collapse-close d-md-none">
        <a href="#sidebarMenu" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation">
          <i class="fa-solid fa-xmark fa-lg" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <ul class="nav flex-column pt-3 pt-md-0">

      <li class="nav-item">
        <a href="{% url 'administracion:index' %}" class="nav-link d-flex align-items-center">
          
          <img sclass="card-img-top rounded-circle border-white" height="20" width="20" src="{% static 'img/logo.png' %}" alt="Foto">

          <span class="mt-1 ms-1 sidebar-text">Inversiones 368</span>
        </a>
      </li>

      {% for item in sidebar %}

        {% if item.childs is None %}

          {% url item.route as the_url %}
          <li class="nav-item {% if request.path == the_url %} active {% endif %}">
            <a href="{{ the_url }}" class="nav-link">
            <span class="sidebar-icon">
              <i class="fa-solid {{ item.icon }}" aria-hidden="true"></i>
            </span>
            <span class="sidebar-text">{{ item.title }}</span>
            </a>
          </li>

        {% else %}
          <li class="nav-item {% if item.route in request.path %} active {% endif %}">
            <span class="nav-link collapsed d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#{{item.title}}">
              <span>
                <span class="sidebar-icon">
                  <i class="fa-solid {{ item.icon }}" aria-hidden="true"></i>
                </span>
                <span class="sidebar-text">{{ item.title }}</span>
              </span>
              <span class="link-arrow">
                <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
              </span>
            </span>
            {% for child in item.childs %}
              {% url child.route as the_url %}
              <div class="multi-level collapse {% if item.title in parent %}show{% endif %} " role="list" id="{{item.title}}" aria-expanded="false">
                <ul class="flex-column nav">
                  <li class="nav-item {% if request.path == the_url %} active {% endif %}">
                    <a class="nav-link" href="{{ the_url }}">
                      <span class="sidebar-icon">
                        <i class="fa-solid {{ child.icon }}" aria-hidden="true"></i>
                      </span>
                      <span class="sidebar-text">{{ child.title }}</span>
                    </a>
                  </li>
                </ul>
              </div>
            {% endfor %}  
          </li> 
        {% endif %}

      {% endfor %}
    </ul>
  </div>
</nav>