{% extends 'layouts/intranet.html' %}

{% load static %}

{% block title%} Proyectos {% endblock title%}

{% block content %}

    {% include 'common/breadcrumb.html' with icon="fa-solid fa-pencil" title=title routes=routes %}

      <!-- CODIGO PARA FORMULARIO -->
    <div class="container">
        <h1>Actividad</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {% include "form/input.html" with label="Nombre Actividad" input=form.nombre %}
            </div>
            <div class="mb-3 d-flex">
                <div class="col">
                    {% include "form/input.html" with type="date" label="Fecha Inicio" input=form.fecha_inicio %}
                </div>
                <div class="col mx-2">
                    {% include "form/input.html" with type="date" label="Fecha Fin" input=form.fecha_fin %}
                </div>
            </div>
            <div class="mb-3">
                {% include "form/select.html" with label="Tipo de Actividad" input=form.tipo_actividad %}
            </div>
            <div class="mb-3">
                {% include "form/input.html" with label="Nombre del Proyecto" input=form.nombre_proyecto %}
             </div>
           
            <div class="mb-3">
                <label for="Participantes" class="form-label">Participantes</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Participantes" placeholder="Nombre Participante">
                    <button class="btn btn-dark" type="button" id="agregarParticipante" style ="background-color:black; color: white; border-color: black;" >Agregar</button>
                </div>                
            </div>
            
            <div class="d-flex justify-content-between align-items-center mt-3">
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-pencil" aria-hidden="true"></i>
                    Guardar
                </button>
            </div>
        </form>
    </div>

   
{% endblock content %}