{% extends 'layouts/intranet.html' %}
{% load static %}

{% block content %}

  {% include 'common/breadcrumb.html' with icon="fa-solid fa-pencil" title=title routes=routes %}

  <div class="row">
    <div class="col-12 mb-4">
      <div class="card border-0 shadow components-section">
          <div class="card-body">
            <div class="row">
              <div class="col">
                {% include "form/input.html" with type="text" label="Nombres" input=form.nombres %}
              </div>
              <div class="col">
                {% include "form/input.html" with type="text" label="Apellido Paterno" input=form.apellidoPaterno %}
              </div>
              <div class="col">
                {% include "form/input.html" with type="text" label="Apellido Materno" input=form.apellidoMaterno %}
              </div>
            </div>

            <div class="row">
              <div class="col">
                {% include "form/input.html" with type="text" label="Celular" input=form.celular %}
              </div>
            </div>
            
            {% include "form/input.html" with type="text" label="Dirección" input=form.direccion %}
          </div>
      </div>
    </div>
  </div>
{% endblock content %}
