{% extends 'layouts/intranet.html' %}

{% load static %}

{% block title%} Proveedores {% endblock title%}

{% block content %}

    {% include 'common/breadcrumb.html' with icon="fa-solid fa-pencil" title=title routes=routes %}

    <div class="row">
        <div class="col-12 mb-4">
            <div class="card border-0 shadow components-section">
                <form method="post">
                    {% csrf_token %} 

                    <div class="card-body">
                        <div class="row">
                            <div class="col-2"> {% include "form/input.html" with type="number" label="RUC" input=form.id %} </div>
                            <div class="col-4"> {% include "form/input.html" with label="Razon social" input=form.nombre_empresa %} </div>
                            <div class="col-6"> {% include "form/input.html" with label="Dirección" input=form.direccion_empresa %} </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-3">
                                {% include "form/input.html" with label="Nro.Telefóno" input=form.telefono_empresa %}
                            </div>
                            <div class="col-9">
                                {% include "form/input.html" with label="Correo Electrónico" input=form.correo_empresa %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                {% include "form/select.html" with label="Categoria a asignar" input=form.id_categoria_empresas %}
                            </div>
                            {% if not form.id_categoria_empresas  %}
                                <a class="col-1 btn btn-primary" style="margin-top: 30px; margin-right: 10px;">
                                    <i class="fa-solid fa-plus" aria-hidden="true"></i>
                                    Agregar
                                </a>
                                <a  class="col-2 btn btn-primary" style="margin-top: 30px;">
                                    <i class="fa-solid fa-eye" aria-hidden="true"></i>
                                    Ver Categorias
                                </a>
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="col">    
                                {% include "form/select.html" with label="Pais" input=form.id_zonas %}
                            </div>
                            <div class="col">    
                                {% include "form/select.html" with label="Provincia" input=form.id_zonas %}
                            </div>
                            <div class="col">    
                                {% include "form/select.html" with label="Zona a asignar" input=form.id_zonas %}
                            </div>
                            {% if not form.id_zonas  %}
                                <a class="col-1 btn btn-primary" style="margin-top: 30px; margin-right: 10px;">
                                    <i class="fa-solid fa-plus" aria-hidden="true"></i>
                                    Agregar
                                </a>
                                <a class="col-2 btn btn-primary" style="margin-top: 30px;">
                                    <i class="fa-solid fa-eye" aria-hidden="true"></i>
                                    Ver Zonas
                                </a>
                            {% endif %}
                        </div>

                        {% if form.estado %}
                            {% include "form/checkbox.html" with label="Estado" input=form.estado %}
                        {% endif %}

                        <hr>
                        <h3 class="card-title">Datos del representante</h3>

                        <div class="row">
                            <div class="col">
                                {% include "form/input.html" with label="Apellidos y Nombres (representante)" input=form.nombre_representante %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% include "form/input.html" with label="Correo Electrónico (representante)" input=form.correo_representante %}
                            </div>
                            <div class="col">
                                {% include "form/input.html" with  type="number" label="Nro.Teléfono (representante)" input=form.telefono_representante %}
                            </div>
                        </div>
                    </div>

                    <div class="card-footer text-end">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-pencil" aria-hidden="true"></i>
                            Guardar
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock content %}