{% extends 'layouts/intranet.html' %}

{% load static %}

{% block title%} Proveedores {% endblock title%}

{% block content %}

    {% include 'common/breadcrumb.html' with icon="fa-solid fa-pencil" title=title routes=routes %}

    <div class="row">
        <div class="col-12 mb-4">
            <div class="card border-0 shadow components-section">
                <div class="row">
                    <div class="col">
                        <form method="post">
                            {% csrf_token %} 
                            <div class="card-body">
                                {% include "form/input.html" with label="" input=form.id %}
                                {% include "form/select.html" with label="Zonas a asignar" input=form.id_zona_to_allocate %}
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Asignar</button>
                            </div>
                        </form>
                    </div>
                    <div class="col">
                        <form method="post">
                            {% csrf_token %} 
                            <div class="card-body">
                                {% include "form/input.html" with label="" input=form.id %}
                                {% include "form/select.html" with label="Zonas a desasignar" input=form.id_zona_to_deallocate %}
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Desasignar</button>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

{% endblock content %}