{% load widget_tweaks %}
<div class="form-group mb-2">
    <label for="{{ label }}" class="form-label">{{ label }}</label>
    {% if icon is not None %}
        <div class="input-group">
    {% endif %}
            {% if input.errors %}
                {% render_field input class+="form-control is-invalid" type=type %}
            {% endif %}

            {% if not input.errors %}
                {% render_field input class+="form-control" type=type %}
            {% endif %}

            {% if icon is not None %}
                <span class="input-group-text" id="basic-addon1">
                    <i class="{{ icon }}" aria-hidden="true"></i>
                </span>
            {% endif %}
            
            {% if input.errors %}
                <span class="invalid-feedback">{{ input.errors|striptags }}</span>
            {% endif %}
    {% if icon is not None %}
        </div>
    {% endif %}
</div>
